h2 {
  text-align: center;
  background-color: rgb(250, 235, 215);
  border: 3px solid black;
  padding: 1px;
}

.parent {
  background-image: linear-gradient(
    to right,
    rgb(166, 93, 93),
    rgb(231, 205, 201)
  );
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  height: 180px;
  width: 210px;
}

button {
  width: 210px;
  padding: 5px;
  background-color: rgb(250, 235, 190);
  cursor: pointer;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}

button:hover {
  background-color: rgb(230, 202, 43);
  font-style: italic;
  font-size: 16px;
  font-weight: bolder;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.btn-parent {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
